
    <div class="secondDiv">
    <img class="image" src={{this.image_url}} />
    <a class="beerName" href='{{this.id}}'>{{this.name}}</a>
    <p style="color: #bfbfbf;">{{this.tagline}}</p>
   <p class="description">{{this.description}}</p>
    </div>
